
{% extends 'indexbase.html' %}


{% load staticfiles %}


{% block content %}


	{% for post in posts %}
	<li>
        <div class="arrow_box">
          <div class="ti"></div>
          <!--三角形-->
          <div class="ci"></div>
          <!--圆形-->

	<ul class="details">
            <li class="likes"><a href="#">{{ post.like }}人喜欢&nbsp;</a></li>
	    <li class="likes"><a href="#">{{ post.click }}人阅读&nbsp;</a></li>
            <li class="comments"><a href="#">{{ post.comment_num }}人评论&nbsp;</a></li>
	    <li class="icon-time"><a href="#">发布日期：{{ post.published_date }}</a></li>
          </ul>

          <h2 class="title">
		<a href="{% url 'blog.views.post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
          <ul class="textinfo">
            <a href="/"><img src="{% static "images/s2.jpg" %}"></a>
            <p> {{ post.text  }}</p>
          </ul>
          <ul class="details">


	<li class="comments"> 分类：
		  {% for category in post.category.all %}
			<a href="{% url 'blog.views.post_list_by_category' cg=category.name %}" rel="category">
			{{ category.name }}</a>&nbsp;
		  {% endfor %}
		</li>

	<li class="comments"> 标签：
		  {% for tg in post.tags.all %}
			<a href="{% url 'blog.views.post_list_by_tag' tag=tg.name %}" rel="tag">
			{{ tg.name }}</a>&nbsp;
		  {% endfor %}
		</li>


            <li class="icon-time"><a href="#"></a></li>
          </ul>
        </div>
        <!--arrow_box end--> 
      </li>
	{% endfor %}

{% endblock %}

